<body>
    <Header class="titulo">
        <h1>Massas</h1>
    </Header>
    
    <section class="Opcoes">
        <ul>
            <li>
                <div class="Details">
                    <h3>Lasanha Bolonhesa</h3>
                    <p class="Description">
                        carne moída e molho de tomate e mussarela, serve até 2 pessoas
                    </p>
                </div>
                <strong class="price">
                    R$55,00
                </strong>
            </li>
            <li>
                <div class="Details">
                    <h3>Espaguete Alho e Óleo</h3>
                    <p class="Description">
                        espaguete ao molho Alho e óleo, serve até 2 pessoas
                    </p>
                </div>
                <strong class="price">
                    R$30,00
                </strong>
            </li>
        </ul>
    </section>
</body>