<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="container-opcoes">
        <nav class="opcoes">
          <a mat-list-item routerLink="/home" routerLinkActive="active">home</a>
          <a mat-list-item routerLink="/carnes" routerLinkActive="active">Carnes</a>
          <a mat-list-item routerLink="/hamburguers" routerLinkActive="active">Hamburguers</a>
          <a mat-list-item routerLink="/massas" routerLinkActive="active">Massas</a>
          <a mat-list-item routerLink="/saladas" routerLinkActive="active">Saladas</a>
        </nav>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="dialog">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <header>
        <h1>Kowalski's<span> Restaurante</span></h1>
      </header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="lista">
      <h1>Teste Bootstrap</h1>
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
