<body>
    <Header class="titulo">
        <h1>Bebidas</h1>
    </Header>
    
    <section class="Opcoes">
        <ul>
            <li>
                <div class="Details">
                    <h3>Coca-cola</h3>
                    <p class="Description">
                        Coca-cola lata 330ml
                    </p>
                </div>
                <strong class="price">
                    R$4,00
                </strong>
            </li>
            <li>
                <div class="Details">
                    <h3>Agua</h3>
                    <p class="Description">
                        Garrafa de agua com 500ml
                    </p>
                </div>
                <strong class="price">
                    R$3,00
                </strong>
            </li>
        </ul>
    </section>
</body>