<body>
    <Header class="titulo">
        <h1>Carnes</h1>
    </Header>
    
    <section class="Opcoes">
        <ul>
            <li>
                <div class="Details">
                    <h3>Picanha</h3>
                    <p class="Description">
                        450g de picanha feito na brasa, servida no granito, serve até 2 pessoas
                    </p>
                </div>
                <strong class="price">
                    R$65,00
                </strong>
            </li>
            <li>
                <div class="Details">
                    <h3>Maminha</h3>
                    <p class="Description">
                        500g de maminha feito na brasa, servida no granito, serve até 2 pessoas
                    </p>
                </div>
                <strong class="price">
                    R$50,00
                </strong>
            </li>
        </ul>
    </section>
</body>