body {
    background-image: url(../../assets/Images/ChurrascoBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin: -30px;
    height: 800px;
    width: 1500px;
}

h3,
h5,
p,
strong
{
    color: antiquewhite;
}

.titulo {
    color: white;
}