<body>
    <Header class="titulo">
        <h1>Saladas</h1>
    </Header>
    
    <section class="Opcoes">
        <ul>
            <li>
                <div class="Details">
                    <h3>Salada Simples</h3>
                    <p class="Description">
                        Alface, tomate e cebola
                    </p>
                </div>
                <strong class="price">
                    R$15,00
                </strong>
            </li>
            <li>
                <div class="Details">
                    <h3>Primavera</h3>
                    <p class="Description">
                        alface, aspargo, azeitona, ervilha, palmito, milho verde e mussarela de búfala
                    </p>
                </div>
                <strong class="price">
                    R$45,00
                </strong>
            </li>
        </ul>
    </section>
</body>