<Header class="titulo">
    <h1>hamburguers</h1>
</Header>

<section class="Lanches">
    <ul>
        <li>
            <div class="Details">
                <h3>American Hamburguer</h3>
                <p class="Description">
                    Hamburguer com 120g, queijo chedar, salada, tomate e molho da casa
                </p>
            </div>
            <strong class="price">
                R$28,00
            </strong>
        </li>
        <li>
            <div class="Details">
                <h3>Bacon Burguer</h3>
                <p class="Description">
                    Hamburguer com 120g, bacon queijo chedar, cebola caramelizada, rucula e molho de mostarda da casa
                </p>
            </div>
            <strong class="price">
                R$32,00
            </strong>
        </li>
    </ul>
</section>

