body {
    background-image: url(../../assets/Images/Hamburguer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h3,
p,
strong
{
    color: white;
}

.titulo {
    color: white;
}